<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button (click)="snav.toggle()" class="btn btn-light"><i class="bi bi-list"></i></button>
    <h2 class="example-app-name">&nbsp;&nbsp;Infotech</h2>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav style="background-color: #5899A7;" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item routerLink="/mapa">
          <!-- Entradas principales -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <i class="bi bi-bezier2"></i>
            <span> Rutas</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/tiempo-espera">
          <!-- Entradas principales -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <i class="bi bi-speedometer"></i>
            <span> Tiempos de Espera</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/perfil">
          <!-- Entradas principales -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <i class="bi bi-person-fill"></i>
            <span> Perfil</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/capacidad">
          <!-- Entradas principales -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <i class="bi bi-person-badge"></i>
            <span> Capacidad</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/recorridos">
          <!-- Entradas principales -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <i class="bi bi-bus-front"></i>
            <span> Recorridos</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/punto-espera">
          <!-- Entradas principales -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <i class="bi bi-flag"></i>
            <span> Puntos de espera</span>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/log-in">
          <!-- Entradas principales -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <i class="bi bi-person-circle" style="opacity: 0.40;"></i>
            <span> Log-Out</span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


 
