<div class="container-fluid">
    <h3 class="text-dark mb-4">Puntos de Espera</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Información de puntos de espera</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Ver<select class="d-inline-block form-select form-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;</label></div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" value="Buscar"></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Ultima Actualizacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Smart Aztecas</td>
                            <td>Inicia</td>
                            <td>2008/11/28</td>
                        </tr>
                        <tr>
                            <td>Smart Libramiento</td>
                            <td>Inicia<br></td>
                            <td>2009/10/09<br></td>
                        </tr>
                        <tr>
                            <td>Smart Independencia</td>
                            <td>Inicial</td>
                            <td>2009/01/12<br></td>
                        </tr>
                        <tr>
                            <td>Smart Porvenir</td>
                            <td>Inicial</td>
                            <td>2012/10/13<br></td>
                        </tr>
                        <tr>
                            <td>Soriana Henequen</td>
                            <td>Inicial</td>
                            <td>2011/06/07<br></td>
                        </tr>
                        <tr>
                            <td>Galerias Tec</td>
                            <td>Inicial</td>
                            <td>2012/12/02<br></td>
                        </tr>
                        <tr>
                            <td>Smart centro<br></td>
                            <td>Inicial</td>
                            <td>2011/05/03<br></td>
                        </tr>
                        <tr>
                            <td>Rio Grande</td>
                            <td>Inicial</td>
                            <td>2011/12/12<br></td>
                        </tr>
                        <tr>
                            <td>Av del Desierto</td>
                            <td>Secundario</td>
                            <td>2011/12/06<br></td>
                        </tr>
                        <tr>
                            <td>Soriana las Torres</td>
                            <td>Secundario</td>
                            <td>2012/03/29<br></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Nombre</strong></td>
                            <td><strong>Tipo</strong></td>
                            <td><strong>Ultima Actualizacion</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Mostrado 10 de 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>